<div class="eqLogic-widget eqLogic allowResize" style="width:#width#;height:#height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
 <center class="widget-name"><a href="#eqLink#" style="font-size : 1.2em;#hideEqLogicName#"> #city# </a>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh#"><i class="fas fa-sync"></i></span>
    </center>
    <div style="position : relative; left : 15px;" class="tooltips" title="#collectDate#<br/>#cityZip# #cityName#">
    <span class="pull-left">
      <br>
        <img src="#icone#" data-src="#icone#" alt="#condition#" title="#condition#" class="icon shape-weather ls-is-cached lazyloaded">
    </span>
    <div class="pull-right" style="margin-right: 20px;margin-top: 0px;">
        <div id="windDirection#uid#" style="width: 80px; height: 80px;" class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#windid#"></div>
        <div class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#sunid#">
            <span style="font-size: 0.8em;position: relative;left:2px;"><i class="wi wi-sunrise"></i> #sunrise# | <i class="wi wi-sunset"></i> #sunset#</span>
        </div>
    </div>
    <span style="margin-left: 5px;"class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#conditionid#">  #condition# </span><br/>
    <span style="margin-left: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#tempid#">  <i class="wi wi-thermometer"></i> #temperature# °C (#ressentie# °C) / <i class="wi wi-humidity"></i> #humidity# % / <i class="wi wi-hot"></i> #uvi# UV  </span><br/>
    <span style="margin-left: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#pressureid#">  <i class="wi wi-windy"></i> #windspeed# km/h | <i class="wi wi-barometer"></i> #pressure# hPa  </span>
</div><br/>
<div style="margin-top: -15px;">
    <center>#forecast#</center>
</div>

<link rel="stylesheet" type="text/css" href="plugins/meteofrance/desktop/weather-icons/css/weather-icons.min.css" />

<script>
if ('#refresh#' != ''){
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
				jeedom.cmd.execute({id: '#refresh#'});
			});
		}else{
			$('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
		}


 if($('#windDirection#uid#').html() != undefined){
	 new Highcharts.Chart({
				chart: {
					renderTo: 'windDirection#uid#',
					type: 'gauge',
					backgroundColor: 'transparent',
					plotBackgroundColor: null,
					plotBackgroundImage: null,
					plotBorderWidth: 0,
					plotShadow: false,
					spacingTop: 0,
					spacingLeft: 0,
					spacingRight: 0,
					spacingBottom: 0
				},
				title: {
					text: null
				},
				credits: {
					enabled: false
				},
				pane: {
					startAngle: 0,
					endAngle: 360,
					background: null
				},
				exporting : {
					enabled: false
				},
				plotOptions: {
					series: {
						dataLabels: {
							enabled: false
						}
					},
          gauge: {
            dial: {
              backgroundColor: 'red',
              borderColor: 'red',
            },
            pivot: {
              backgroundColor: 'silver'
            }
          }
				},
				yAxis: {
					min: 0,
					max: 360,
					tickWidth: 2,
					tickLength: 10,
					tickInterval: 90,
					lineWidth: 4,
					labels: {
            distance: -16,
						formatter: function () {
							if (this.value == 360) {
								return '<span style="font-weight:bold;">N</span>';
							} else if (this.value == 90) {
								return '<span style="font-weight:bold;">E</span>';
							} else if (this.value == 180) {
								return '<span style="font-weight:bold;">S</span>';
							} else if (this.value == 270) {
								return '<span style="font-weight:bold;">W</span>';
							}
						}
					},
					title: {
						text: null
					}},
					series: [{
						name: 'Vent',
						data: [#wind_direction#]
					}]
				});
			}

</script>
<br>
<table border=0 style="border-spacing: 2px; width: 100%;">
			<tr>
				<td class="tableCmdcss" style="width: 9%;height:20px;text-align: left">#heure#</td>
        <td class="tableCmdcss" style="width: 9%;font-size: .8em;height:20px;text-align: right">#h10m#</td>
        <td class="tableCmdcss" style="width: 8%;height:20px;text-align: right">&nbsp;</td>
        <td class="tableCmdcss" style="width: 9%;font-size: .8em;height:20px;text-align: right">#h20m#</td>
        <td class="tableCmdcss" style="width: 8%;height:20px;text-align: right">&nbsp;</td>
        <td class="tableCmdcss" style="width: 9%;font-size: .8em;height:20px;text-align: right">#h30m#</td>
        <td class="tableCmdcss" style="width: 16%;font-size: .8em;height:20px;text-align: right">#h40m#</td>
        <td class="tableCmdcss" style="width: 16%;font-size: .8em;height:20px;text-align: right">#h50m#</td>
				<td class="tableCmdcss" style="width: 16%;height:20px;text-align: right">#h1h#</td>
			</tr>
			<tr>
				<td style="height:20px;#prev1Color#" title="#prev1Text#" class="tooltips"></td>
				<td style="height:20px;#prev2Color#" title="#prev2Text#" class="tooltips"></td>
				<td style="height:20px;#prev3Color#" title="#prev3Text#" class="tooltips"></td>
				<td style="height:20px;#prev4Color#" title="#prev4Text#" class="tooltips"></td>
				<td style="height:20px;#prev5Color#" title="#prev5Text#" class="tooltips"></td>
				<td style="height:20px;#prev6Color#" title="#prev6Text#" class="tooltips"></td>
				<td style="height:20px;#prev7Color#" title="#prev7Text#" class="tooltips"></td>
				<td style="height:20px;#prev8Color#" title="#prev8Text#" class="tooltips"></td>
				<td style="height:20px;#prev9Color#" title="#prev9Text#" class="tooltips"></td>
			</tr>
		</table>
<br>
    <table style="border-spacing: 5px; width: 100%;">
    			<tr>
            <td class="tableCmdcss" style="width: 20%;height:20px;text-align: center" title="Inondations"><i class="wi wi-flood" style="font-size: 24px;#vig4Colors#"></i></td>
    				<td class="tableCmdcss" style="width: 20%;height:20px;text-align: center" title="Orages"><i class="wi wi-thunderstorm" style="font-size: 24px;#vig3Colors#"></i></td>
    				<td class="tableCmdcss" style="width: 20%;height:20px;text-align: center" title="Neige-Verglas"><i class="wi wi-snow" style="font-size: 24px;#vig5Colors#"></i></td>
    				<td class="tableCmdcss" style="width: 20%;height:20px;text-align: center" title="Pluie"><i class="wi wi-rain-wind" style="font-size: 24px;#vig2Colors#"></i></td>
            <td class="tableCmdcss" style="width: 20%;height:20px;text-align: center" title="Vent"><i class="wi wi-cloudy-gusts" style="font-size: 24px;#vig1Colors#"></i></td>
    			</tr>
    		</table>

</div>
