<td style="width=8%">
<div style="display: inline-block;font-size: 0.8em;margin-right : 4px;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#conditionid#">
    <center>
      <div>#day#</div>
      <div style="white-space: nowrap;overflow: hidden;text-overflow: clip">#moment#</div>
      <div>#time#</div>
      <img src="#iconeFC#" data-src="#icone#" alt="#condition#" title="#condition#" style="font-size: 24px;">
      <div>#low_temperature#&nbsp;#sep#&nbsp;#high_temperature#</div>
    </center>
</div>
</td>
