<div class="eqLogic-widget eqLogic allowResize" style="width:#width#;height:#height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
  <center class="widget-name"><a href="#eqLink#" style="font-size : 1.2em;#hideEqLogicName#">#city#</a>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh#"><i class="fas fa-sync"></i></span>
  </center>
  <link rel="stylesheet" type="text/css" href="plugins/meteofrance/desktop/weather-icons/css/weather-icons.min.css" />
  <!-- Vigilances -->
  <div style="margin-top: 8px;">
    <table border=0 style="border-spacing: 0px; width: 100%;">
      <tr>
        #vigilance#
      </tr>
    </table>
    <span style="margin-left: 4px;font-size: 10px;font-style: italic;">Informations créées à partir de données de Météo-France</span>
  </div>
</div>
