<div class="eqLogic-widget eqLogic allowResize" style="width:#width#;height:#height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
  <center class="widget-name"><a href="#eqLink#" style="font-size : 1.2em;#hideEqLogicName#">#city#</a>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh#"><i class="fas fa-sync"></i></span>
  </center>
  <link rel="stylesheet" type="text/css" href="plugins/meteofrance/desktop/weather-icons/css/weather-icons.min.css" />
  <table border=0 style="border-spacing: 2px; width: 100%;">
    <tr style="background-color:transparent !important;">
      <td style="text-align: center">
        <img src="#icone#" data-src="#icone#" alt="#condition#" title="#condition#" class="icon shape-weather ls-is-cached lazyloaded">
      </td>
      <td title="#collectDate#<br/>#cityZip# #cityName#">
        <span style="margin-left: 5px;"class="cmd noRefresh">
          #condition#
          <br/>
          <i class="wi wi-thermometer"></i> #temperature# °C (Ressentie #ressentie# °C) &nbsp; <i title="Humidité" class="wi wi-humidity"></i> #humidity# % &nbsp; <i class="wi wi-hot"></i> UV: #uvi#
          <br/>
          <i title="Pression atmosphérique" class="wi wi-barometer"></i> #pressure# hPa &nbsp; <i title="Nuages" class="wi wi-cloud"></i> #clouds# %
          <br/>
          <i title="Lever du soleil" class="wi wi-sunrise"></i>&nbsp;#sunrise# &nbsp; <i title="Coucher du soleil" class="wi wi-sunset"></i>&nbsp;#sunset#
        </span>
      </td>
      <td style="text-align: center" title="Vent #winddir# #wind_direction#° #windspeed#km/h">
        <!-- Fleche direction du vent idem MF ou icone variable -->
        #windIcon#
        <br>
        <!-- Fin Fleche direction du vent idem MF -->
        <!-- Rose des vents Highcharts -->
          <!--
          <div id="wind_direction#uid#" style="width: 80px; height: 80px;" class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#windid#"></div>
          -->
        <!-- Fin Rose des vents Highcharts -->
        <span style="font-size: 0.8em;line-height: 6px!important" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#windid#">#winddir# #windspeed# km/h</span>
        <br>
        <span style="font-size: 0.8em;line-height: 6px!important;background: #ed1c24;color: #ffffff!important" title="Rafales">#windGust#</span>
      </td>
    </tr>
  </table>
  <div style="margin-top: 6px;">
    <center>#forecast#</center>
  </div>

<script>
  if ('#refresh#' != '') {
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh#'});
    });
  } else {
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
  }
/*
  if($('#wind_direction#uid#').html() != undefined){
    new Highcharts.Chart({
      chart: {
        renderTo: 'wind_direction#uid#',
        type: 'gauge',
        backgroundColor: 'transparent',
        plotBackgroundColor: null,
        plotBackgroundImage: null,
        plotBorderWidth: 0,
        plotShadow: false,
        spacingTop: 0, spacingLeft: 0, spacingRight: 0, spacingBottom: 0
      },
      title: { text: null },
      tooltip : { enabled: false },
      credits: { enabled: false },
      pane: { startAngle: 0, endAngle: 360, background: null },
      exporting : { enabled: false },
      plotOptions: {
        series: { dataLabels: { enabled: false } },
        gauge: {
          dial: { backgroundColor: 'red', borderColor: 'red', },
          pivot: { backgroundColor: 'silver' }
        }
      },
      yAxis: {
        min: 0, max: 360, lineWidth: 4,
        tickWidth: 2, tickLength: 10, tickInterval: 90,
        labels: {
          distance: -16,
          formatter: function () {
            if (this.value == 360) {
              return '<span style="font-weight:bold;">N</span>';
            } else if (this.value == 90) {
              return '<span style="font-weight:bold;">E</span>';
            } else if (this.value == 180) {
              return '<span style="font-weight:bold;">S</span>';
            } else if (this.value == 270) {
              return '<span style="font-weight:bold;">W</span>';
            }
          }
        },
        title: { text: null }
      },
      series: [{ name: 'Vent', data: [#wind_direction#] }]
    });
  }
 */
</script>
  <!-- Pluie dans l'heure -->
  <div style="margin-top: 4px;">
    <table border=0 style="border-spacing: 2px; width: 100%;">
      <tr title="Prévisions pluie" style="background-color:transparent !important;">
        <td class="tableCmdcss" style="width: 10%;height:20px;text-align: left">&nbsp;#heure#</td>
        <td class="tableCmdcss" style="width: 8%;font-size: .8em;height:20px;text-align: right">#h10m#</td>
        <td class="tableCmdcss" style="width: 8%;height:20px;text-align: right">&nbsp;</td>
        <td class="tableCmdcss" style="width: 8%;font-size: .8em;height:20px;text-align: right">#h20m#</td>
        <td class="tableCmdcss" style="width: 8%;height:20px;text-align: right">&nbsp;</td>
        <td class="tableCmdcss" style="width: 8%;font-size: .8em;height:20px;text-align: right">#h30m#</td>
        <td class="tableCmdcss" style="width: 16%;font-size: .8em;height:20px;text-align: right">#h40m#</td>
        <td class="tableCmdcss" style="width: 16%;font-size: .8em;height:20px;text-align: right">#h50m#</td>
        <td class="tableCmdcss" style="width: 18%;height:20px;text-align: right">#h1h#</td>
      </tr>
      <tr style="background-color:transparent !important;">
        <td style="text-align:center;#prev1Color#" title="#prev1Text#" class="tooltips">#prev1Icon#</td>
        <td style="text-align:center;#prev2Color#" title="#prev2Text#" class="tooltips">#prev2Icon#</td>
        <td style="text-align:center;#prev3Color#" title="#prev3Text#" class="tooltips">#prev3Icon#</td>
        <td style="text-align:center;#prev4Color#" title="#prev4Text#" class="tooltips">#prev4Icon#</td>
        <td style="text-align:center;#prev5Color#" title="#prev5Text#" class="tooltips">#prev5Icon#</td>
        <td style="text-align:center;#prev6Color#" title="#prev6Text#" class="tooltips">#prev6Icon#</td>
        <td style="text-align:center;#prev7Color#" title="#prev7Text#" class="tooltips">#prev7Icon#</td>
        <td style="text-align:center;#prev8Color#" title="#prev8Text#" class="tooltips">#prev8Icon#</td>
        <td style="text-align:center;#prev9Color#" title="#prev9Text#" class="tooltips">#prev9Icon#</td>
      </tr>
    </table>
  </div>
  <!-- Vigilances -->
  <div style="margin-top: 0px;">
    <table border=0 style="border-spacing: 0px; width: 100%;">
      <tr style="background-color:transparent !important;">
        #vigilance#
      </tr>
    </table>
    <span style="margin-left: 4px;font-size: 10px;font-style: italic;">Informations créées à partir de données de Météo-France</span>
  </div>
</div>
