<div class="eqLogic-widget eqLogic allowResize" style="width:#width#;height:#height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
  <center class="widget-name"><a href="#eqLink#" style="font-size : 1.2em;#hideEqLogicName#">#city#</a>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh#"><i class="fas fa-sync"></i></span>
  </center>
  <link rel="stylesheet" type="text/css" href="plugins/meteofrance/desktop/weather-icons/css/weather-icons.min.css" />
  <table border=0 style="border-spacing: 2px; width: 100%;">
    <tr style="background-color:transparent !important;">
      <td style="text-align: center">
        <img src="#icone#" data-src="#icone#" alt="#condition#" title="#condition#" class="icon shape-weather ls-is-cached lazyloaded">
      </td>
      <td title="#collectDate#<br/>#cityZip# #cityName#">
        <span style="margin-left: 5px;"class="cmd noRefresh">
          #condition#
          <br/>
          <i class="wi wi-thermometer"></i> #temperature# °C (Ressentie #ressentie# °C) &nbsp; <i title="Humidité" class="wi wi-humidity"></i> #humidity# % &nbsp; <i class="wi wi-hot"></i> UV: #uvi#
          <br/>
          <i title="Pression atmosphérique" class="wi wi-barometer"></i> #pressure# hPa &nbsp; <i title="Nuages" class="wi wi-cloud"></i> #clouds# %
          <br/>
          <i title="Lever du soleil" class="wi wi-sunrise"></i>&nbsp;#sunrise# &nbsp; <i title="Coucher du soleil" class="wi wi-sunset"></i>&nbsp;#sunset#
        </span>
      </td>
      <td style="text-align: center" title="Vent #winddir# #wind_direction#° #windspeed#km/h">
        <!-- Fleche direction du vent idem MF ou icone variable -->
        #windIcon#
        <br>
        <!-- Fin Fleche direction du vent idem MF -->
        <!-- Rose des vents Highcharts -->
          <!--
          <div id="wind_direction#uid#" style="width: 80px; height: 80px;" class="cmd noRefresh" data-type="info" data-subtype="numeric" data-cmd_id="#windid#"></div>
          -->
        <!-- Fin Rose des vents Highcharts -->
        <span style="font-size: 0.8em;line-height: 6px!important" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#windid#">#winddir# #windspeed# km/h</span>
        <br>
        <span style="font-size: 0.8em;line-height: 6px!important;background: #ed1c24;color: #ffffff!important" title="Rafales">#windGust#</span>
      </td>
    </tr>
  </table>
  <div style="margin-top: 6px;">
    <center>#forecast#</center>
  </div>

<script>
  if ('#refresh#' != '') {
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh#'});
    });
  } else {
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').remove();
  }
</script>
</div>
